@import "../../sass/utils/mixin";

.container{
    // padding: 64px 64px;
    display: flex;
    flex-direction: column;

    background-color: #FFF;
    border-radius: 30px;
    
    // @include mobile_max {
    //     padding: 15px 15px;
    // }
}

.header{
    margin-bottom: 20px;
}

.text{
    margin-bottom: 40px;
}

.form{
    display: flex;
    flex-direction: column;

    & label:nth-of-type(1){
        position: relative;
        margin-bottom: 18px;
    }
    
    & label:nth-of-type(2){
        position: relative;
        margin-bottom: 40px;
        // display: flex;
    }

    & input {
        width: 100%;
        padding: 16px 0px 16px 18px;

        border-radius: 12px;
        border: 1px solid rgba(18, 20, 23, 0.10);

        @include mobile_max{
            width: 100%;
        }
    }

    & input::placeholder{
        color: #121417;
        opacity: 1;
    }

    & button{
        display: flex;
        width: 100%;
        padding: 16px 0px;
        justify-content: center;
        align-items: center;

        border: none;
        border-radius: 12px;
        background: #F4C550;
    }
}

.svgIconEye{
    position: absolute;
    width: 20px;
    height: 20px;
    // align-self: center;
    top: 25%;
    right: 15px;
    
    stroke: #121417;
    
    z-index: 0;
    user-select: none;

    &:hover{
        stroke: rgb(65, 129, 248);
        opacity: 1;
    }
    &:active{
        stroke: rgb(21, 85, 202);
    }
}

.svgIconEyeOpened{
    stroke: rgb(21, 85, 202);
    
    &:hover{
        stroke: rgb(65, 129, 248);
        opacity: 1;
    }

    &:active{
        stroke: rgb(21, 85, 202);
    }
}

.errorEmail{
    position: absolute;
    bottom: -18px;
    left: 0px;
    
    color: red;
    font-size: 12px;
}

.errorPass{
    position: absolute;
    margin: 0;
    bottom: -18px;
    left: 0px;
    
    color: red;
    font-size: 12px;
}