@import "../../sass/utils/mixin";

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    overflow: hidden;
    overflow-y: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.modalContainer{
    padding: 32px 32px;
    width: 565px;
    max-height: 100vh;
    position: relative;
    overflow-y: auto;
    
    background-color: #FFF;
    
    border-radius: 32px;

    &::-webkit-scrollbar {
        width: 0px;
    }

    @include mobile_max {
        width: 280px;
        min-width: 260px;
    }

    @include laptop {
        padding: 64px 64px;
    }
}

.svgClose{
    position: absolute;
    width: 32px;
    height: 32px;
    right: 20px;
    top: 20px;

    stroke: #121417;

    z-index: 10;

    &:hover{
        stroke: rgb(65, 129, 248);
        opacity: 1;
    }

    &:active{
        stroke: rgb(21, 85, 202);
    }

    @include mobile_max{
        right: 15px;
        top: 15px;
    }
}