@import "../../sass/utils/mixin";

.container{
    // padding: 64px 64px;
    // height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: #FFF;
    // border-radius: 30px;
    // overflow-y: auto;
    // @include mobile_max {
    //     padding: 15px 15px;
    // }
}

.header{
    margin-bottom: 20px;
}

.text{
    margin-bottom: 10px;

    @include tablet{
        margin-bottom: 20px;
    }
}

.teacherContainer{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;

    @include tablet{
        margin-bottom: 40px;
    }
}

.imgContainer{
    margin-right: 14px;
    width: 44px;
    height: 44px;
    overflow: hidden;

    border-radius: 50%;
}

.teacherText{
    margin-bottom: 4px;

    color: #8A8A89;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}

.teacherName{
    color: #121417;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.form{
    display: flex;
    flex-direction: column;

    & input::placeholder{
        color: #121417;
        opacity: 1;
    }

    // & button{
    //     display: flex;
    //     width: 100%;
    //     padding: 16px 0px;
    //     justify-content: center;
    //     align-items: center;

    //     border: none;
    //     border-radius: 12px;
    //     background: #F4C550;
    // }
}
.radioContainer{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    // text-align:;
}

.labelRadio{
    // padding-left: 25px;
    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: calc(22 / 16);
}

.radio{
    margin: 0px;
    margin-right: 8px;
    // padding-left: 10px;
    width: 20px;
    height: 20px;
    // accent-color: #F4C550;
    display: flex;
    align-items: center;
    justify-content: center;

    appearance: none;
    background-color: #fff;
    // font: inherit;
    // color: black;
    border: 0.15em solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;

    &:hover{
        border-color: #F4C550;
    }

    &::before{
        content: "";
        width: 10px;
        height: 10px;
        display: none;
    
        // transform: scale(0);
        background-color: #F4C550;
        // box-shadow: inset 8px 8px #F4C550;
    
        border-radius: 50%;
    }

    &:checked::before{
        // border-color: #F4C550;
        display: block;
    }
    
    &:checked{
        border-color: #F4C550;
        // display: block;
    }
}

// .radio::before{
//     content: "";
//     width: 10px;
//     height: 10px;
//     display: none;

//     // transform: scale(0);
//     background-color: #F4C550;
//     // box-shadow: inset 8px 8px #F4C550;

//     border-radius: 50%;
// }

// .radio:checked::before{
//     display: block;

//     border-color: #F4C550;
// }

.nameLabel{
    position: relative;
    margin-bottom: 18px;
}

.emailLabel{
    position: relative;
        margin-bottom: 18px;
}

.passLabel{
    position: relative;
    margin-bottom: 40px;
}

.inputField{
    width: 438px;
    padding: 16px 0px 16px 18px;

    border-radius: 12px;
    border: 1px solid rgba(18, 20, 23, 0.10);

    @include mobile_max{
        width: 100%;
    }
}

.submit{
    display: flex;
    width: 100%;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 12px;
    background: #F4C550;

    color: #121417;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
}
// .emailField{
//     width: 438px;
//     padding: 16px 0px 16px 18px;

//     border-radius: 12px;
//     border: 1px solid rgba(18, 20, 23, 0.10);

//     @include mobile_max{
//         width: 100%;
//     }
// }
// .phoneField{
//     width: 438px;
//     padding: 16px 0px 16px 18px;

//     border-radius: 12px;
//     border: 1px solid rgba(18, 20, 23, 0.10);

//     @include mobile_max{
//         width: 100%;
//     }
// }
.errorName{
    position: absolute;
    bottom: -18px;
    left: 0px;
    
    color: red;
    font-size: 12px;
}

.errorEmail{
    position: absolute;
    bottom: -18px;
    left: 0px;
    
    color: red;
    font-size: 12px;
}

.errorPass{
    position: absolute;
    margin: 0;
    bottom: -18px;
    left: 0px;
    
    color: red;
    font-size: 12px;
}