@import "../../sass/utils/mixin";
@import "../../sass/utils/variables";

.container{
    display: flex;
    flex-direction: column;

    background-color: $bg-color-main;
}

.header{
    margin-bottom: 20px;
}

.text{
    margin-bottom: 10px;

    @include tablet{
        margin-bottom: 20px;
    }
}

.teacherContainer{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;

    @include tablet{
        margin-bottom: 40px;
    }
}

.imgContainer{
    margin-right: 14px;
    width: 44px;
    height: 44px;
    overflow: hidden;

    border-radius: 50%;
}

.teacherText{
    margin-bottom: 4px;

    color: $text-color-secondary;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}

.teacherName{
    color: $text-color-main;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.form{
    display: flex;
    flex-direction: column;

    & input::placeholder{
        color: $text-color-main;
        opacity: 1;
    }
}
.radioContainer{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.labelRadio{
    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: calc(22 / 16);
}

.radio{
    margin: 0px;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    appearance: none;
    background-color: $bg-color-main;
    
    border: 0.15em solid $radio-border;
    border-radius: 50%;

    &:hover{
        border-color: $main-color;
    }

    &::before{
        content: "";
        width: 10px;
        height: 10px;
        display: none;
    
        background-color: $main-color;
    
        border-radius: 50%;
    }

    &:checked::before{
        display: block;
    }
    
    &:checked{
        border-color: $main-color;
    }
}

.nameLabel{
    position: relative;
    margin-bottom: 18px;
}

.emailLabel{
    position: relative;
        margin-bottom: 18px;
}

.passLabel{
    position: relative;
    margin-bottom: 40px;
}

.inputField{
    width: 438px;
    padding: 16px 0px 16px 18px;

    border-radius: 12px;
    border: 1px solid $input-border;

    @include mobile_max{
        width: 100%;
    }
}

.submit{
    display: flex;
    width: 100%;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 12px;
    background: $main-color;

    color: $text-color-main;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
}

.errorName{
    position: absolute;
    bottom: -18px;
    left: 0px;
    
    color: $error-message;
    font-size: 12px;
}

.errorEmail{
    position: absolute;
    bottom: -18px;
    left: 0px;
    
    color: $error-message;
    font-size: 12px;
}

.errorPass{
    position: absolute;
    margin: 0;
    bottom: -18px;
    left: 0px;
    
    color: $error-message;
    font-size: 12px;
}