@import "../../sass/utils/mixin";
@import "../../sass/utils/variables";

.container{
    display: flex;
    flex-direction: column;

    background-color: $bg-color-main;
}

.header{
    margin-bottom: 20px;
}

.text{
    margin-bottom: 40px;
}

.form{
    display: flex;
    flex-direction: column;

    & label:not(:last-child){
        position: relative;
        margin-bottom: 18px;
    }
    
    & label:nth-of-type(3){
        position: relative;
        margin-bottom: 40px;
    }

    & input {
        width: 100%;
        padding: 16px 0px 16px 18px;

        border-radius: 12px;
        border: 1px solid $input-border;

        @include mobile_max{
            width: 100%;
        }
    }

    & input::placeholder{
        color: $text-color-main;
        opacity: 1;
    }

    & button{
        display: flex;
        width: 100%;
        padding: 16px 0px;
        justify-content: center;
        align-items: center;
        transition-duration: 250ms;
        transition-property: background-color;

        font-size: 18px;
        font-weight: 700;
        line-height: calc(20 / 18);

        border: none;
        border-radius: 12px;
        background: $main-color;

        &:hover{
            background-color: $secondary-color;
        }
    
        &:active{
            background-color: $btn-active-color;
        }
    }
}

.svgIconEye{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 25%;
    right: 15px;
    
    stroke: $text-color-main;
    
    z-index: 0;
    user-select: none;

    &:hover{
        stroke: $btn-hover-blue;
        opacity: 1;
    }
    &:active{
        stroke: $btn-active-blue;
    }
}

.svgIconEyeOpened{
    stroke: $color-blue;
    
    &:hover{
        stroke: $btn-hover-blue;
        opacity: 1;
    }

    &:active{
        stroke: $btn-active-blue;
    }
}

.errorName{
    position: absolute;
    bottom: -18px;
    left: 0px;
    
    color: $error-message;
    font-size: 12px;
}

.errorEmail{
    position: absolute;
    bottom: -18px;
    left: 0px;
    
    color: $error-message;
    font-size: 12px;
}

.errorPass{
    position: absolute;
    bottom: -18px;
    left: 0px;
    
    color: $error-message;
    font-size: 12px;
}