@import '../../sass/utils/mixin';
.container{
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;

    @include mobile_max {
        padding-top: 15px;
        padding-bottom: 32px;
    }
}

.button{
    padding: 7px 20px;
    width: 120px;
    justify-content: center;
    align-items: center;

    color: #121417;
    
    border-radius: 12px;
    background-color: #F4C550;
    border: none;

    user-select: none;
    cursor: pointer;

    &:hover{
        color: #FFF;
        background: #121417;
    }

    &:active{
        // background: #ecb425;
        background: #34393f;
    }

    @include mobile_max {
        margin-bottom: 15px;
    }

    @include tablet{
        padding: 14px 39px;
    }
}

.elementsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list{
    
}