@import '../../sass/utils/mixin';

svg{
    width: 10px;
    height: 10px;
    // border: 1px solid red;
}
.article{
    // width: 100%;
    padding: 10px 10px;
    position: inherit;
    display: flex;
    flex-direction: column;

    background-color: #FFF;

    border-radius: 24px;

    &:first-child{
        // margin-top: 32px;
    }

    &:not(:last-child){
        margin-bottom: 32px;
    }

    @include tablet {
        padding: 24px 24px;
    }
}

.contentContainer{
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
}

.teacherImgContainer{
    position: relative;
    position: absolute;
    // display: flex;
    padding: 5px;
    width: 58px;
    height: 58px;
    // align-self: center;
    
    border: 3px solid #FBE9BA;
    border-radius: 50%;
}

.teacherImg{
    border-radius: 50%;
}

.teacherSvg{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 8px;
    right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: ;
}

.headerContainer{
    margin-bottom: 20px;
    position: relative;
}

.header{
    margin-bottom: 15px;
    width: 152px;
    top: 5px;
    left: 70px;
    position: relative;
}

.headerText{

}

.headerName{
    text-overflow: ellipsis;

    &:hover{
        overflow: visible;        // this makes the overflowing text visible on hover
        white-space: normal;
        height:auto;
    }
}

.headerList{
}

.headerItem{
    width: 160px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    
    &:not(:last-child){
        // margin-bottom: 5px;
    }
}

.itemContainer{
    display: flex;
    flex-direction: row;
}

.itemText{
    color: #121417;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.itemSpan{
    // align-self: flex-end;
    justify-self: flex-end;
    color: #121417;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.price{
    color: #38CD3E;
}

.itemSvg{
    margin-right: 5px;
    width: 16px;
    height: 15px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    align-self: center;

    // & use {
    //     width: 90%;
    //     height: 90%;
    // }
}

.headerSvgHeart{
    width: 26px;
    height: 26px;
    position: absolute;
    top: 0px;
    right: 0px;

    cursor: pointer;
}

.descriptionList{
    margin-bottom: 16px;
}

.descriptionItem{
    color: #8A8A89;
    font-weight: 500;
    line-height: 24px;
    &:first-child span{
        text-decoration-line: underline;
    }
    &:not(:last-child){
        margin-bottom: 8px;
    }
    // &:last-child{
    //     color: #121417;
    //     font-family: Roboto;
    //     font-size: 16px;
    //     font-style: normal;
    //     font-weight: 400;
    //     line-height: 24px; /* 150% */
    // }
}

.descriptionText{
    // &:first-child span{
    //     color: #121417;
    //     font-weight: 500;
    //     line-height: 24px;
    //     text-decoration-line: underline;
    // }
    // &:not(:last-child){
    //     color: #8A8A89;
    //     font-weight: 500;
    //     line-height: 24px; /* 150% */
    // }
    
    // &:last-child{
    //     color: #121417;
    //     font-weight: 400;
    //     line-height: 24px; /* 150% */
    // }
}

.descriptionSpan{
    color: #121417;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.readMore{
    margin-bottom: 32px;
    width: 80.6px;
    
    color: #121417;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-decoration-line: underline;
    // text-decoration-color: ;
    // border: 2px solid transparent;

    cursor: pointer;
    
    &:hover{
        color: rgb(65, 129, 248);
        text-decoration-color: #F4C550;
    }

    &:active{
        color: #ecb425;
    }
}

.bookLesson{
    margin-top: 32px;
    padding: 16px 48px;
    width: 200px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
    background-color: #F4C550;
    border: none;
}

.educationList{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.educationList_item{
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 35px;
    border: 1px solid rgba(18, 20, 23, 0.20);

    &:first-child{
        background-color: #F4C550;
    }
}