$main-color: #F4C550;
$secondary-color: #FBE9BA;

$bg-color-main: #FFFFFF;
$bg-color-secondary: #EEEEEE;
$bg-color-hero: #F8F8F8;
$bg-color-registrarion: #121417;

$btn-active-color: #f4bd33;

$util-color-1: #38CD3E;
$star-color: #FFC531;

$text-color-main: #121417;
$text-color-secondary: #8A8A89;
$text-color-transparent-08: rgba(18, 20, 23, 0.8);
$text-color-transparent-03: rgba(18, 20, 23, 0.3);