@import '../../sass/utils/mixin';
@import '../../sass/utils/variables';

svg{
    width: 10px;
    height: 10px;
}
.article{
    position: relative;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;

    background-color: $bg-color-main;

    border-radius: 24px;

    &:not(:last-child){
        margin-bottom: 32px;
    }

    @include tablet {
        padding: 24px 24px;
    }
    @include laptop {
        flex-direction: row;
        gap: 48px;
    }
}

.headerSvgHeart{
    width: 26px;
    height: 26px;
    position: absolute;
    top: 15px;
    right: 15px;

    z-index: 10;

    cursor: pointer;

    @include tablet {
        top: 24px;
        right: 24px;
    }
}

.contentContainer{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
}

.teacherImgContainer{
    position: relative;
    position: absolute;
    padding: 5px;
    width: 58px;
    height: 58px;
    
    border: 3px solid $secondary-color;
    border-radius: 50%;

    @include laptop {
        position: relative;
        padding: 12px;
        min-width: 120px;
        height: 120px;
    }
}

.teacherImg{
    border-radius: 50%;
}

.teacherSvg{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 8px;
    right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include laptop {
        width: 12px;
        height: 12px;
        top: 19px;
        right: 23px;
    }
}

.headerContainer{
    margin-bottom: 20px;
    position: relative;
}

.header{
    position: relative;
    margin-bottom: 15px;
    width: calc(100% - 70px);
    top: 5px;
    left: 70px;
    overflow: hidden;
    text-overflow: ellipsis;

    @include laptop {
        left: 0px;
    }
}

.headerText{
    margin-bottom: 8px;
}

.headerName{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover{
        overflow: visible; 
        white-space: nowrap;       
        height: auto;
    }
}


.headerItem{
    width: 160px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.itemContainer{
    display: flex;
    flex-direction: row;
}

.itemText{
    color: $text-color-main;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.itemSpan{
    justify-self: flex-end;

    font-weight: 500;
    line-height: 24px; /* 150% */

    color: $text-color-main;

}

.price{
    color: $green-color;
}

.itemSvg{
    margin-right: 5px;
    width: 16px;
    height: 15px;
    align-self: center;
}

.descriptionList{
    margin-bottom: 16px;
}

.descriptionItem{
    color: $text-color-secondary;
    font-weight: 500;
    line-height: 24px;
    &:first-child span{
        text-decoration-line: underline;
    }
    &:not(:last-child){
        margin-bottom: 8px;
    }
}

.descriptionSpan{
    color: $text-color-main;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.readMore{
    margin-bottom: 32px;
    width: 80.6px;
    background: none;
	// color: inherit;
	border: none;
	padding: 0;
    transition-duration: 250ms;
    transition-property: background-color, color, text-decoration-color;
    
    color: $text-color-main;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-decoration-line: underline;

    cursor: pointer;
    
    &:hover{
        color: $btn-hover-blue;
        text-decoration-color: $main-color;
    }

    &:active{
        color: $secondary-color;
    }
}

.bookLesson{
    margin-top: 32px;
    padding: 16px 48px;
    width: 200px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    transition-property: background-color;

    font-size: 18px;
    font-weight: 700;
    line-height: calc(20 / 18);

    border-radius: 12px;
    background-color: $main-color;
    border: none;

    @include tablet{
        align-self: flex-start;
    }

    &:hover{
        background-color: $secondary-color;
    }

    &:active{
        background-color: $btn-active-color;
    }
}

.educationList{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.educationList_item{
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 35px;
    border: 1px solid $levels-list-border;

    &:first-child{
        background-color: $main-color;
    }
}