@import '../../sass/utils/mixin';
.container{
    position: relative;
    display: flex;
    justify-content: center;
}

.form{
    // width: 860px;
    display: flex;
    justify-content: space-between;
    
    @include mobile_max{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
}

.formLabel{
    margin-bottom: 8px;
    display: block;
}

.langContainer{
    width: 70px;
    margin-bottom: 10px;
    position: relative;
    
    @include mobile_max {
        width: 100%;
    }
}

.langContainer input:disabled{
    background-color: #3360c9;
}

.langInput{
    height: 48px;
    width: 70px;
    padding-left: 18px;

    background-color: #FFF;

    border: none;
    border-radius: 14px;
    
    @include mobile_max{
        width: 110px;

        border: 1px solid gray;
    }
}
// .modelActive{
//     display: block;
// }
// .knowlengeSelect{
//     position: relative;

    
// }
.langList{
    height: 0px;
    position: absolute;
    overflow-y: hidden;
    display: block;
    display: flex;
    flex-direction: column;

    // scrollbar-width: 8px;

    // color: var(--select-option);
    background-color: #FFFFFF;

    border-radius: 8px;

    &.languagesActive{
        display: block;
        padding: 8px 0px 8px 0px;
        // height: 272px;
        height: auto;
        // width: 224px;
        
        border: 1px solid black;
        z-index: 1;
    }

    // &::-webkit-scrollbar-track {
    //     box-shadow: 'inset 0 0 6px rgba(0,0,0,0.00)';
    //     webkit-box-shadow: 'inset 0 0 6px rgba(0,0,0,0.00)';
    // }
    // &::-webkit-scrollbar-thumb {
    //     background-color: 'rgba(0,0,0,.1)';
    //     outline: '1px solid slategrey';
    // }
    
}

.langItem{
    padding-left: 18px;
    user-select: none;

    font-size: 16px;
    line-height: 20px;
    font-weight: 500;

    &:hover{
        background-color: darkgray;
    }

    &:not(:last-child){
        margin-bottom: 8px;
    }
    // &:first-child{
    //     margin: 0;
    // }
}


.knowledgeContainer{
    @include mobile_max {
        width: 100%;
        margin-bottom: 10px;
    }
}

.knowledgeInput{
    height: 48px;
    width: 70px;
    padding-left: 18px;

    background-color: #FFF;

    border: none;
    border-radius: 14px;
    
    @include mobile_max {
        width: 110px;

        border: 1px solid grey;
    }
}

.knowledgeList{
    height: 0px;
    position: absolute;
    overflow-y: hidden;
    display: block;
    display: flex;
    flex-direction: column;

    // scrollbar-width: 8px;

    // color: var(--select-option);
    background-color: #FFFFFF;

    border-radius: 8px;

    &.knowledgeListActive{
        display: block;
        padding: 8px 0px 8px 0px;
        // height: auto;
        height: 227px;
        // width: 224px;
        
        border: 1px solid black;
        z-index: 1;
    }
}

.knowledgeItem{
    padding-left: 18px;
    user-select: none;

    font-size: 16px;
    line-height: 20px;
    font-weight: 500;

    &:hover{
        background-color: darkgray;
    }

    &:not(:last-child){
        margin-bottom: 8px;
    }
}
// .select-items div,.select-selected {
//     color: #ffffff;
//     padding: 8px 16px;
//     border: 1px solid transparent;
//     border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
//     cursor: pointer;
// }
.selectOption{
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.priceContainer{
    // width: 125px;
    @include mobile_max {
        margin-bottom: 20px;
    }
}

.priceInput{
    height: 48px;
    width: 70px;
    padding-left: 18px;
    overflow: scroll;
    position: relative;

    background-color: #FFF;

    border: none;
    border-radius: 14px;
    
    @include mobile_max {
        width: 110px;
        border: 1px solid grey;
    }
}
.priceList{
    padding: 14px 14px 18px 18px;
    height: 188px;
    // width: 125px;
    position: absolute;
    list-style: none;
    display: none;

    border: 1px solid black;
    // overflow-y: scroll;
    background-color: #FFFFFF;

    border-radius: 14px;

    &.priceActive{
        display: block;
        z-index: 1;
    }
}
.priceItem{
    user-select: none;

    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;

    &:not(:last-child){
        margin-bottom: 8px;
    }

    &:hover{
        background-color: darkgray;
    }

}
.submit{
    height: 46px;
    // width: 136px;
    align-self: flex-end;

    color: #FFFFFF;
    background-color: #3470FF;

    border: none;
    border-radius: 12px;

    &:hover{
        background-color: #759aef;
    }
    &:active{
        background-color: #3360c9;
    }

    @include mobile_max {
        align-self: flex-start;
        width: 80px;
    }
}

.select{
    margin-right: 14px;
    width: 70px;
    cursor: pointer;
    position: relative;
}

.selectContainer{
    margin: 0;
    width: 68px;
    background-color: grey;

    display: flex;
    align-items: center;
}

.header{
    margin-right: 4px;
    user-select: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    // color: var(--select-header);
    
    letter-spacing: -0.02em;
}

.active{
    background-color: darkgray;
}