@import '../../sass/utils/mixin';
@import '../../sass/utils/variables';

.container{
    position: relative;
    display: flex;
    // justify-content: center;
    @include tablet{
        margin-bottom: 32px;
        margin-top: 32px;
    }
}

.form{
    width: 100%;
    display: flex;
    gap: 20px;
    
    &:not(:last-child){
        margin-right: 20px;
    }

    @include mobile_max{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
}

.active{
    color: $text-color-main;
}

.iconActive{
    transform: rotate(180deg);
}

.langContainer{
    position: relative;
    width: 148px;

    @include mobile_max {
        margin-bottom: 10px;
    }

    @include tablet {
        width: 228px;
    }
}

.knowledgeContainer{
    position: relative;
    width: 148px;

    & input:disabled{
        background-color: #3360c9;
    }

    @include mobile_max {
        margin-bottom: 10px;
    }
    @include tablet {
        width: 198px;
    }
}
.priceContainer{
    position: relative;

    & input:disabled{
        background-color: #3360c9;
    }

    @include mobile_max {
        width: 148px;
        margin-bottom: 32px;
    }
    @include tablet {
        width: 124px;
    }
}

.submit{
    padding: 16px 39px;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    transition-property: background-color, color;

    color: $text-color-main;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: calc(20 / 18);
    
    border-radius: 12px;
    background-color: $main-color;
    border: none;

    user-select: none;
    cursor: pointer;

    &:hover{
        color: $text-color-main;
        background-color: $secondary-color;
    }

    &:active{
        // background: #ecb425;
        background: $btn-active-color;
    }

    @include tablet{
        // padding: 16px 39px;
        align-self: flex-end;
    }

}