@import '../../sass/utils/mixin';
@import '../../sass/utils/variables';

.active{
    color: $text-color-main;
}
.iconActive{
    transform: rotate(180deg);
}

.inputLabel{
    margin-bottom: 8px;
    display: block;
    
    & p{
        color: $text-color-secondary;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: calc(18 / 14);
    }
}

.inputSvg{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 14px;
    top: 43px;
    
    cursor: pointer;
}

.input{
    padding: 16px 28px 16px 18px;
    width: 100%;
    
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: calc(20 / 18);
    
    background-color: $bg-color-main;
    border: none;
    border-radius: 14px;
    
    cursor: pointer;
   
    @include mobile_max{
        border: 1px solid black;
    }
}

.inputList{
    height: 0px;
    width: 100%;
    position: absolute;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;

    color: $text-color-transparent-02;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: calc(20/18); 

    background-color: $bg-color-main;

    border-radius: 8px;

    &.inputListActive{
        padding: 8px 0px 8px 0px;
        height: auto;
        
        border: 1px solid black;
        z-index: 1;
    }

    @include tablet {
        top: 85px;
    }
}

.listItem{
    padding-left: 18px;
    user-select: none;

    font-size: 16px;
    line-height: 20px;
    font-weight: 500;

    &:hover{
        background-color: $secondary-color;
    }

    &:not(:last-child){
        margin-bottom: 8px;
    }
}