@import "../../sass/utils/mixin";
@import "../../sass/utils/variables";

.header {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 95%;
    display: flex;
    align-items: center;

    @include tablet {
        width: 90%;
        justify-content: space-between;
    }

    @include laptop {
        width: 80%;
    }

    @include desktop {
        width: 1184px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.logoContainer{
    display: flex;
    align-items: center;

    @include mobile_max {
        justify-self: flex-start;
    }
}

.logoSvg{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    @include tablet {
        margin-right: 8px;
        width: 28px;
        height: 28px;
    }
}

.logoText{
    @include mobile_max {
        display: none;
    }
}

.authContainer{
    margin-inline-start: auto;
    display: flex;
    align-items: center;
    flex-direction: row;

    @include tablet {
        margin: 0;
    }
}

.auth{
    margin-right: 8px;

    display: flex;
    align-items: center;

    cursor: pointer;

    @include tablet {
        margin-right: 16px;
    }
}

.svgLogIn{
    width: 20px;
    height: 20px;
    margin-right: 4px;
    
    @include tablet {
        margin-right: 8px;
    }
}

.loginBtn{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
    transform: translateY(5%);
    transition-duration: 250ms;
    transition-property: background-color, color, border-bottom;

    color: $text-color-main;
    font-size: 16px;
    font-weight: 700;
    line-height: calc(20 / 16);
   
    border-bottom: 2px solid transparent;

    user-select: none;

    &:hover{
        color: $btn-hover-blue;
        border-bottom: 2px solid $main-color;
    }
    cursor: pointer;
}

.logOffBtn{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
    transform: translateY(7%);
    transition-duration: 250ms;
    transition-property: background-color, color, border-bottom;

    color: $text-color-main;
    font-size: 16px;
    font-style: normal;
    line-height: calc(20px / 16px);
   
    border-bottom: 2px solid transparent;

    user-select: none;

    &:hover{
        color: $btn-hover-blue;
        border-bottom: 2px solid $main-color;
    }
    cursor: pointer;
}

.registrationBtn{
    padding: 7px 20px;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    transition-property: background-color;

    font-size: 16px;
    font-weight: 700;
    line-height: calc(20 / 18);

    color: $bg-color-main;
    
    border-radius: 12px;
    background-color: $text-color-main;
    border: none;

    user-select: none;
    cursor: pointer;

    @include tablet{
        padding: 14px 39px;

        font-size: 18px;
    }

    &:hover{
        color: $text-color-main;
        background-color: $main-color;
    }

    &:active{
        background-color: $btn-active-color;
    }
}