@import '../../sass/utils/mixin';
@import '../../sass/utils/variables';

::-webkit-scrollbar{
    width: 0;
}
.container{
    background-color: $bg-color-secondary;

    @include mobile_max {
        padding-top: 15px;
        padding-bottom: 32px;
    }
}

.button{
    padding: 7px 20px;
    width: 120px;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    transition-property: background-color, color;

    font-size: 16px;
    font-weight: 700;
    line-height: calc(20 / 18);

    color: $text-color-main;
    
    border-radius: 12px;
    background-color: $main-color;
    border: none;

    user-select: none;
    cursor: pointer;

    &:hover{
        background: $secondary-color;
    }

    &:active{
        background: $btn-active-color;
    }

    @include mobile_max {
        margin-bottom: 15px;
    }

    @include tablet{
        padding: 14px 39px;
    }
}

.elementsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list{
    display: flex;
    flex-direction: column;
}

.item{
    &:not(:last-child){
        margin-bottom: 32px;
    }
}

.loadMore_btn{
    margin-top: 32px;
    width: 163px;
    height: 60px;
    justify-content: center;
    align-items: center;
    align-self: center;
    transition-duration: 250ms;
    transition-property: background-color;

    font-size: 18px;
    font-weight: 700;
    line-height: calc(20 / 18);

    color: $text-color-main;
    
    border-radius: 12px;
    background-color: $main-color;
    border: none;

    user-select: none;
    cursor: pointer;

    &:hover{
        background-color: $secondary-color;
    }

    &:active{
        background-color: $btn-active-color;
    }

    @include tablet{
        margin-top: 64px;
    }
}