@import "../../sass/utils/mixin";
@import "../../sass/utils/variables";

.svgBurgerMenu{
    width: 35px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-duration: 250ms;
    transition-property: stroke;

    @include mobile_max{
        cursor: pointer;
        stroke: $text-color-main;

        &:hover{
            stroke: $btn-hover-blue;
        }
        &:active{
            stroke: $btn-active-blue;
        }
    }

    @include tablet {
        display: none;
    }
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
        & a:not(:last-child){
            margin-right: 14px;
        }
    }

    @include laptop {
        & a:not(:last-child){
            margin-right: 28px;
        }
    }
}

.nav{
    z-index: 1;

    @include mobile_max {
        // padding-top: 10px;
        padding-left: 10px;
        width: 100px;
        height: 110px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        transform: translate(35%, 65%);

        background-color: rgb(35, 35, 35);
        border-radius: 10px;

        & a:not(:last-child){
            margin-bottom: 10px;
        }
    }
}  

.navLink{
    color: $text-color-main;
    text-decoration: none;
    transition-duration: 250ms;
    transition-property: color;

    font-size: 16px;
    font-weight: 400;

    user-select: none;

    &:hover{
        color: $btn-hover-blue;
    }

    &.active{
        color: $main-color;
    }

    @include mobile_max {
        color: $bg-color-main;
    }
}