@import '../sass/utils/mixin';

.svgBurgerMenu{
    width: 30px;
    height: 20px;
    border: 1px solid red;
}

.navigation{
    @include tablet {
        & a:not(:last-child){
            margin-right: 14px;
        }
    }

    @include laptop {
        & a:not(:last-child){
            margin-right: 28px;
        }
    }
}

.nav{
    
}  

.navLink{
    color: black;
    text-decoration: none;

    &:hover{
        color: blue;
    }

    &.active{
        color: orange;
    }

    @include mobile_max {
        display: none;
    }
}