@import "../../sass/utils/mixin";

.svgBurgerMenu{
    width: 35px;
    height: 30px;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile_max{
        // order: 1;
        cursor: pointer;
        stroke: #292929;

        &:hover{
            stroke: rgb(65, 129, 248);
        }
        &:active{
            stroke: rgb(21, 85, 202);
        }
    }

    @include tablet {
        display: none;
    }

    // @include laptop {
    //     display: none;
    // }
}

.navigation{

    @include mobile_max {
        // position: absolute;
        // display: block;
    }

    @include tablet {
        & a:not(:last-child){
            margin-right: 14px;
        }
    }

    @include laptop {
        & a:not(:last-child){
            margin-right: 28px;
        }
    }

}

.nav{
    z-index: 1;
    
    @include mobile_max {
        // padding-top: 10px;
        padding-left: 10px;
        width: 100px;
        height: 110px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        transform: translateY(30%);

        background-color: rgb(35, 35, 35);
        border-radius: 10px;

        & a:not(:last-child){
            margin-bottom: 10px;
        }
    }
}  

.navLink{
    color: black;
    text-decoration: none;

    user-select: none;

    &:hover{
        color: blue;
    }

    &.active{
        color: orange;
    }

    @include mobile_max {
        color: #FFF;
    }
}