@import "../../sass/utils/mixin";

// .section{
//     margin: auto;
//     padding: 0px 10px 10px 10px;
//     width: 100%;
//     min-width: 280px;
//     max-width: 1440px;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;

//     @include tablet {
//         // justify-content: space-between;
//         padding: 0px 40px 20px 40px;
//         // gap: 20px;
//     }

//     @include laptop {
//         // padding: 0px 40px 20px 40px;
//     }

//     @include desktop {
//         width: 100vw;
//         padding: 0px 64px 32px 64px;
//     }
// }

.container{
    width: 100%;
    display: flex;
    
    @include tablet {
        gap: 15px;
    }   
    
    @include laptop {
        gap: 24px;
    } 
}

.getStartedContainer{
    padding: 15px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #F8F8F8;

    border-radius: 30px;

    @include tablet {
        margin: 0;
        // width: 404px;
        width: 53%;
        min-width: 404px;
        // max-width: 504px;

    }
    
    @include laptop {
        width: 55.5%;
        min-width: 525px;
        // max-width: 555px;
        padding: 69px 64px;
        align-items: flex-start;
    }

    @include desktop {
        width: 55%;
        min-width: 620px;
        max-width: 720px;
        padding: 98px 64px;
        align-items: flex-start;
    }

    @media screen and (min-width: 1280px) {
    }
}

.getStartedHeader{
    margin-bottom: 15px;

    @include tablet {
        margin-bottom: 26px;
    }

    @include desktop {
        width: 548px;
        margin-bottom: 32px;
    }
}

.getStartedText{
    margin-bottom: 30px;

    @include tablet {
        margin-bottom: 46px;
    }

    @include desktop {
        width: 471px;
        margin-bottom: 64px;
    }
}

.getStartedBtn{
    width: 267px;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    
    border-radius: 12px;
    border: none;
    background: #F4C550;

    &:hover{
        background: #fdd676;
    }

    &:active{
        background: #ecb425;
    }

    @media screen and (max-width: 319px){
        width: 227px;
        padding: 16px 0px;
    }
}

.imageContainer{
    display: flex;
    justify-content: center ;
    align-items: center;
    overflow: hidden;
    display: none;

    background-color: #FBE9BA;

    border-radius: 30px;

    @include tablet {
        // display: block;
        display: flex;
        width: 45.5%;
    }

    @include laptop {
        width: 47.5%;
        min-width: 390px;
        // max-width: 500px;
    }

    @include desktop {
        width: 43.5%;
        min-width: 468px;
        max-width: 568px;
    }
}

.imgDecoration{
    width: 170px;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    // overflow: hidden;

    // border: 1px solid black;
    
    @include tablet {
        width: 200px;
        height: 200px;

        transform: translateY(-8%);
    }

    @include laptop {
        width: 259px;
        height: 259px;
    }

    @include desktop {
        width: 329px;
        height: 329px;
    }
}

.img{
    width: 150px;
    height: 150px;
    position: absolute;

    background-image: url(../../assets/images/woman_1x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    z-index: 0;

    @include retina {
        background-image: url(../../assets/images/woman_2x.png);
    }

    @include tablet {
        width: 100%;
        height: 100%;
    }

}

.svgPc{
    width: 100%;
    height: 130px;
    align-self: flex-end;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    transform: translate(0%, 57%);

    @include tablet {
        width: 228px;
        height: 130px;

        transform: translate(0%, 60%);
    }

    @include laptop {
        width: 300px;
        height: 300PX;

        transform: translate(0%, 56%);
    }

    @include desktop {
        width: 391px;
        height: 300PX;

        transform: translate(0%, 58%);
    }
}

.stat{
    position: relative;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    width: 100%;
    
    @include tablet {
        margin-top: 15px;
        padding: 15px 0px 15px 0px;
    }

    @include laptop {
        padding: 30px 0px 30px 0px;
        margin-top: 24px;
    }
    
    @include desktop {
        padding: 40px 123px 44px 122px;
        margin-top: 24px;
    }
    // border: 1px dashed blueviolet;
    // background-image: url("data:image/svg+xml,%3csvg width='98%25' height='98%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='2' y='0.5' width='98%25' height='98%25' fill='none' rx='30' ry='30' stroke='%23333' stroke-width='2' stroke-dasharray='10 13' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    @include tablet {
        gap: 60px;
    }

    @include laptop {
        gap: 40px;
    }
    
    @include desktop {
        // gap: 100px;
        // margin: auto;
    }
    
    // & p:nth-of-type(even){
    //     border: 1px solid red;
    // }
}

.listItem {
    &:nth-child(-n+2){
        width: 94px;
        // border: 1px solid red;
    }
    &:nth-child(1n+3){
        width: 74px;
        // border: 1px solid red;
    }

    @include laptop {
        display: flex;

        &:nth-child(1){
            width: 217px;
        }

        &:nth-child(2){
            width: 232px;
            
            & p:first-child{
                width: 120px;
            }

            & p:last-child {
                width: 96px;
            }
            
        }

        &:nth-child(1n+3){
            width: 159px;
            & p {
                width: 74px;
            }
            & p:first-child(){
                width: 69px;
            }
        }
        // &:not(:last-child){
        //     margin-right: 8%;
        // }
    }
}
.listNumber{
    margin-right: 16px;

    color: #121417;

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: calc(24/20); /* 114.286% */
    letter-spacing: -0.56px;

    @include laptop {
        font-size: 28px;
        font-style: normal;
        line-height: 32px; /* 114.286% */
        letter-spacing: -0.56px;
    }
}
.listText{
    color: rgba(18, 20, 23, 0.70);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    // &:nth-of-type(3){
    //     color:  red;
    // }
    // @include laptop {
    //     &:nth-child(1){
    //         color:  red;
    //     }
    // }
}

.borderSvg {
    position: absolute;
    width: 100.5%;
    height: 100%;
    top: 0%;
    left: 0%;
}

.svgUse{
    margin: auto;
    
    fill: none;
    stroke-width: 1.5px;
    stroke: orange;
    stroke-dasharray: 12 10;
}