@import-normalize;

@import './sass/utils/base';
@import './sass/utils/mixin';
@import './sass/utils/variables';
@import './assets/fonts/robotoFontStyle.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // overflow-y: hidden; /* Hide vertical scrollbar */
  // overflow-x: hidden; /* Hide horizontal scrollbar */
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
